- content_for(:title) { "Chat" }
- content_for(:app_layout) { true }
div#chats-data data-json="#{render(template: "chats/index.json.jb")}" style="display:none"
div#vueapp
= javascript_pack_tag 'chat' 
