.room {
  margin: 0px;
  padding: 0px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.messages {
  overflow-y: scroll;
}
.message {
  display: flex;
  .message-info {
  }
  .message-content {
  }
  .message-left {
  }
  .message-right {
    text-align: right;
  }
  .message-avatar {
    width: auto;
    height: 100px;
  }
}
.message-left {
  flex-direction: row;
}
.message-right {
  text-align: right;
  flex-direction: row-reverse;
}
.message-input {
  width: 100%;
  text-align: right;
  textarea {
    vertical-align: top;
    width: 100%;
    height: 100px;
  }
}
